
:root { 
  --clr-main-purple: rgb(102, 53, 180);
}

body {
       margin: 0; 
          padding: 0; 
          background-color: #d3d5d8;
          font-family:Verdana, Geneva, Tahoma, sans-serif; 
          
        }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(102, 53, 180);
}

li {
  float: left;
  margin-left: 4rem;
}
/* MENU ELEMENTS */
li a {
  display: block;
  color: white; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
  opacity: 0.7;
  background-color: lightpink;
  transition-duration: 200ms;
  color: black; 
  /* cursor: pointer; */
}
/* Anime description */
.content-block { 
  margin-left: 4rem; 
  margin-right: 5rem; 
  background-color: rgb(182, 182, 182);
}

.description-table { 
  /* border: 2px solid black;  */
  margin: 25px 0; 
  min-width: 400px;
  font-size: 1em;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  background-color: #d3d5d8;
  

}

.description-table td,
.description-table th  {
  text-align: left;
  font-weight: 500;
  color: rgb(34, 34, 34); 
}

.description-table td,
.description-table th { 
  padding: 10px 70px;
}

.description-table tr, 
.description-table td { 
  border-bottom: 1px solid rgb(102, 53, 180); 
}

/* First block with Tokio ghoul description */
.description-table { 
  box-shadow: 0px 0px 8px rgb(102, 53, 180);
}

.cont1  {
  margin-top: 3rem; 
  margin-left: 15rem; 
  margin-right: 400px; 
  
}


.image-left { 
  margin-top: 1rem;
  margin-left: 1rem;
  float: left; 
  padding: 1rem; 

}

    /* С этого момента залупа */
li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.description-div { 
  margin-left: 1rem; 
  margin-right: 1rem;
  padding: 0 0 16px; 
}

.videos { 
  margin-left: 3rem;
}

.eighteenPlus { 
  background-color: black;
  color: white; 
  border-radius: 7px;
  font-size: 17px;
  padding: 0px 3px; 
}

.TokyoHeader { 
  margin-top: 20px;
}

.video-Tokyo { 
  color: white; 
  background-color: #333;
  height: 48rem;
}

.ghoul1 { 
  margin-left: 5rem;  
}

.h1Tokyo { 
  margin-left: 3rem; 
}
